<h3>Login</h3>
<form [formGroup]="form" (submit)="login()" class="d-flex flex-column">
  <div class="form-group">
    <label for="email" class="text-muted">Email</label>
    <input id="email" type="text" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <label for="password" class="text-muted">Password</label>
    <input id="password" type="password" class="form-control" formControlName="password">
  </div>
  <p class="text-center" [ngClass]="{'text-success':action.success,'text-danger':!action.success}">{{action.message}}&nbsp;</p>
  <button type="submit" class="btn btn-primary btn-block mt-5" [disabled]="action.pending">
    <span *ngIf="!action.pending" class="text">Login</span>
    <span *ngIf="action.pending"class="fa fa-spinner fa-pulse"></span>
  </button>
  <!-- <div class="align-self-center text-muted my-3">or</div>
  <button jaGoogleAuth (details)="googleDetails($event)" class="google-btn hover m-3 align-self-center"></button> -->
</form>