<div class="d-flex flex-column w-100 h-100">
  <div class="d-flex w-100">
    <div class="card m-4 rounded-0">
      <div class="card-header">Card 1</div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis voluptas consectetur. Suscipit doloribus repudiandae
        impedit aspernatur optio magnam distinctio et laudantium velit porro molestias recusandae, obcaecati dignissimos
        voluptatum fugiat?
      </div>
    </div>
    <div class="card m-4 rounded-0">
      <div class="card-header">Card 1</div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis voluptas consectetur. Suscipit doloribus repudiandae
        impedit aspernatur optio magnam distinctio et laudantium velit porro molestias recusandae, obcaecati dignissimos
        voluptatum fugiat?
      </div>
    </div>
  </div>
  <div class="d-flex w-100">
    <div class="card m-4 rounded-0">
      <div class="card-header">Card 1</div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis voluptas consectetur. Suscipit doloribus repudiandae
        impedit aspernatur optio magnam distinctio et laudantium velit porro molestias recusandae, obcaecati dignissimos
        voluptatum fugiat?
      </div>
    </div>
    <div class="card m-4 rounded-0">
      <div class="card-header">Card 1</div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis voluptas consectetur. Suscipit doloribus repudiandae
        impedit aspernatur optio magnam distinctio et laudantium velit porro molestias recusandae, obcaecati dignissimos
        voluptatum fugiat?
      </div>
    </div>
  </div>
  <div class="d-flex w-100">
    <div class="card m-4 rounded-0">
      <div class="card-header">Card 1</div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis voluptas consectetur. Suscipit doloribus repudiandae
        impedit aspernatur optio magnam distinctio et laudantium velit porro molestias recusandae, obcaecati dignissimos
        voluptatum fugiat?
      </div>
    </div>
    <div class="card m-4 rounded-0">
      <div class="card-header">Card 1</div>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quis voluptas consectetur. Suscipit doloribus repudiandae
        impedit aspernatur optio magnam distinctio et laudantium velit porro molestias recusandae, obcaecati dignissimos
        voluptatum fugiat?
      </div>
    </div>
  </div>
</div>