<h3>Register</h3>
<form [formGroup]="form" (submit)="register()">
  <div class="form-group">
    <label for="name" class="text-muted">Name
      <sup class="text-danger">*</sup>
    </label>
    <input id="name" type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label for="email" class="text-muted">Email ID (User ID)
      <sup class="text-danger">*</sup>
    </label>
    <input id="email" type="text" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <label for="password" class="text-muted">Set Password
      <sup class="text-danger">*</sup>
    </label>
    <input id="password" type="password" class="form-control" formControlName="password">
  </div>
  <div class="form-group">
    <label for="contactNo" class="text-muted">Contact No
      <sup class="text-danger">*</sup>
    </label>
    <input id="contactNo" type="tel" class="form-control" formControlName="contactNo">
  </div>
  <p class="text-center" [ngClass]="{'text-success':action.success,'text-danger':!action.success}">{{action.message}}&nbsp;</p>
  <button type="submit" class="btn btn-primary btn-block mt-5" [disabled]="action.pending">
    <span *ngIf="!action.pending" class="text">Create account</span>
    <span *ngIf="action.pending"class="fa fa-spinner fa-pulse"></span>
  </button>
</form>