<div class="d-flex w-100 h-100 p-4 justify-content-end align-items-start bg-primary">
  <div class="col p-0 mr-4">
    <h1 class="text-white font-weight-bold">Muneem</h1>
    <p class="text-white mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nihil, nulla aspernatur itaque
      dignissimos architecto cupiditate incidunt nesciunt a rem molestiae deserunt iste fugiat perferendis, quidem culpa,
      magni quod totam.</p>
    <div class="fixed-bottom p-3 bg-white m-4 rounded d-flex justify-content-between">
      <div>
        <span class="text-muted">2018 &copy; muneem </span>
      </div>
      <div class="d-flex align-items-center font-weight-bold">
        <a href="#">About</a>
        <span class="bullet mx-3 fa-lg text-muted">&bull;</span>
        <a href="#">Terms &amp; Condition</a>
        <span class="bullet mx-3 fa-lg text-muted">&bull;</span>
        <a href="#">Pricing</a>
      </div>
    </div>
  </div>
  <div class="card border-primary h-75">
    <div class="card-body d-flex flex-column">
      <ja-login *ngIf="!isSignUp"></ja-login>
      <ja-register *ngIf="isSignUp"></ja-register>
      <small class="mt-3 d-flex justify-content-between">
        <button class="btn btn-link btn-sm font-weight-bold" *ngIf="!isSignUp">Forgot password?</button>
        <button class="btn btn-link btn-sm font-weight-bold" (click)="isSignUp=false" *ngIf="isSignUp">Login</button>
        <button class="btn btn-link btn-sm font-weight-bold" *ngIf="!isSignUp" (click)="isSignUp=true">Create account</button>
      </small>
    </div>
  </div>
</div>