<router-outlet></router-outlet>
<div class="loader d-flex w-100 h-100 position-absolute justify-content-center align-items-center" *ngIf="false">
    <div class="text-center d-flex flex-column">
        <span class="fa fa-spinner fa-pulse fa-4x text-primary"></span>
        <h5 class="text-primary mt-4">Loading...</h5>
    </div>
</div>