<div class="d-flex wrapper justify-content-center align-items-center w-100">
  <form class="m-4 text-center" [formGroup]="form">
    <h3>Welcome to <span class="text-primary">Muneem</span></h3>
    <small class="text-muted">Let's start with your 1<sup>st</sup> Organization details</small>
    <div class="form-group mt-3">
      <input type="text" id="organizationName" class="form-control" placeholder="Organization Name" formControlName="name">
    </div>
    <div class="form-group">
      <input type="text" id="organizationEmail" class="form-control" placeholder="Organization Email" formControlName="email">
    </div>
    <div class="form-group">
      <select name="type" id="organizationType" class="form-control" formControlName="type">
        <option value="">Organization Type</option>
        <option value="retail">Retail</option>
        <option value="wholesale">Wholesale</option>
        <option value="franchise">Franchise</option>
      </select>
    </div>
    <div class="form-group">
      <textarea name="addres" id="organizationAddress" class="form-control" placeholder="Organization Address" rows="5"
        formControlName="address"></textarea>
    </div>
    <!-- <div class="form-group">
      <div class="btn-group btn-group-toggle w-100" ngbRadioGroup name="userType" [(ngModel)]="userType">
        <label class="btn-outline-primary w-50" ngbButtonLabel>
          <input ngbButton type="radio" [value]="0">I am Owner
        </label>
        <label class="btn-outline-primary w-50" ngbButtonLabel>
          <input ngbButton type="radio" [value]="1">I am Muneem
        </label>
      </div>
    </div> -->
    <p class="text-center" [ngClass]="{'text-success':action.success,'text-danger':!action.success}">{{action.message}}&nbsp;</p>
    <button class="btn btn-primary w-100 mt-4" (click)="submit()" [disabled]="form.invalid || action.pending">
      <span *ngIf="!action.pending" class="text">Finish</span>
      <span *ngIf="action.pending" class="fa fa-spinner fa-pulse"></span>
    </button>
  </form>
</div>