<div class="d-flex wrapper justify-content-center align-items-center w-100">
  <div class="card m-3 hover" (click)="selectOrganization(org)" *ngFor="let org of organizationList">
    <div class="card-body d-flex flex-column">
      <p class="text-primary font-weight-bold">{{org.name}}</p>
      <small class="mt-auto text-muted">{{org.type}}</small>
    </div>
  </div>
  <div class="card m-3 hover add-card" (click)="addOrganization()">
    <div class="card-body d-flex align-items-center justify-content-center">
      <h5 class="text-muted">
        <span class="fa fa-plus mr-2"></span>
        <span class="text">Create new</span>
      </h5>
    </div>
  </div>
</div>

<ng-template #addOrganizationModal let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-primary">Create new Organization</h5>
    </div>
    <div class="modal-body">
      <form class="m-4 text-center" [formGroup]="form">
        <div class="form-group mt-3">
          <input type="text" id="organizationName" class="form-control" placeholder="Organization Name" formControlName="name">
        </div>
        <div class="form-group">
          <input type="text" id="organizationEmail" class="form-control" placeholder="Organization Email"
            formControlName="email">
        </div>
        <div class="form-group">
          <select name="type" id="organizationType" class="form-control" formControlName="type">
            <option value="">Organization Type</option>
            <option value="retail">Retail</option>
            <option value="wholesale">Wholesale</option>
            <option value="franchise">Franchise</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="addres" id="organizationAddress" class="form-control" placeholder="Organization Address" rows="5"
            formControlName="address"></textarea>
        </div>
        <p class="text-center" [ngClass]="{'text-success':action.success,'text-danger':!action.success}">{{action.message}}&nbsp;</p>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-link mr-3 w-50" (click)="c(false)">
        <span *ngIf="!action.pending" class="text">Cancel</span>
      </button>
      <button class="btn btn-primary w-50" (click)="submit()" [disabled]="form.invalid || action.pending">
        <span *ngIf="!action.pending" class="text">Create</span>
        <span *ngIf="action.pending" class="fa fa-spinner fa-pulse"></span>
      </button>
    </div>
  </div>
</ng-template>