.wrapper{
    height: 100vh;
    .card{
        height: 120px;
        width: 200px;
        transition: 0.25s;
        &:hover{
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.3);
            border-style: solid;
        }
    }
    .add-card{
        border-style: dashed;
    }
}