<div class="d-flex flex-column w-100 h-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <span class="navbar-brand">
      <span class="fa fa-bars mr-2 hover" (click)="toggleSideNav=!toggleSideNav"></span>
    </span>
    <a class="navbar-brand text-white">
      <span class="text">Muneem</span>
    </a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/organization']">{{selectedOrganization.name}}</a>
        </li>
      </ul>
      <div class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <button class="btn btn-link dropdown-toggle text-white" ngbDropdownToggle>
          <span class="fa fa-user-circle mr-2"></span>
          <span>Account</span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item btn" routerLink="/dashboard/profile">Profile</button>
          <button class="dropdown-item btn" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="d-flex h-100 w-100">
    <div class="sidenav d-flex flex-column bg-light h-100 border-right border-right" [ngClass]="{'hide':toggleSideNav}">
      <div class="list-group list-group-flush">
        <a routerLink="home" class="list-group-item list-group-item-action" routerLinkActive="active">
          <span class="fa fa-home mr-2"></span>
          <span class="text">Home</span>
        </a>
        <a routerLink="inventory" class="list-group-item list-group-item-action" routerLinkActive="active">
          <span class="fa fa-archive mr-2"></span>
          <span class="text">Inventory</span>
        </a>
        <a routerLink="invoice" class="list-group-item list-group-item-action" routerLinkActive="active">
          <span class="fa fa-receipt mr-2"></span>
          <span class="text">Invoice</span>
        </a>
        <!-- <a routerLink="organization" class="list-group-item list-group-item-action" routerLinkActive="active">
          <span class="fa fa-sitemap mr-2"></span>
          <span class="text">Organization</span>
        </a> -->
        <a routerLink="users" class="list-group-item list-group-item-action" routerLinkActive="active">
          <span class="fa fa-users mr-2"></span>
          <span class="text">Users</span>
        </a>
        <a routerLink="partners" class="list-group-item list-group-item-action" routerLinkActive="active">
          <span class="fa fa-handshake mr-2"></span>
          <span class="text">Partners</span>
        </a>
        <!-- <a routerLink="partners" class="list-group-item list-group-item-action" routerLinkActive="active">
          <span class="fa fa-upload mr-2"></span>
          <span class="text">Import</span>
        </a> -->
        <a routerLink="settings" class="list-group-item list-group-item-action" routerLinkActive="active">
          <span class="fa fa-cog mr-2"></span>
          <span class="text">Settings</span>
        </a>
      </div>
      <div class="d-flex justify-content-between mt-auto p-2 text-muted">
        <small>2018 &copy; Muneem</small>
        <small>v1.0.0</small>
      </div>
    </div>
    <div class="content d-flex flex-column h-100 w-100" [@routerTransition]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</div>