.sidenav{
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    transition: 0.25s;
    &.hide{
        margin-left: -250px;
    }
    .list-group{
        max-height: calc(100vh - 92px);
        overflow-y: auto;
    }
    span.fa {
        width: 20px;
    }
}
.content{
    min-height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
}