/* You can add global styles to this file, and also import other style files */

.hover:hover{
    cursor: pointer;
}
.google-btn{
    width: 190px;
    height: 45px;
    background: url('../src/assets/img/btn_google_signin_dark_normal_web.png');
    border: 0;
    &:hover{
        background: url('../src/assets/img/btn_google_signin_dark_focus_web.png');
    }
    &:active{
        background: url('../src/assets/img/btn_google_signin_dark_pressed_web.png');
    }
}