<div class="d-flex w-100 h-100">
  <div class="d-flex flex-column users-list border-right">
    <div class="d-flex flex-column w-100 font-weight-bold text-dark">
      <div class="d-flex w-100 align-items-center px-3 py-2">
        <span class="fa fa-users mr-2 text-primary"></span>
        <span class="text w-100">Users</span>
        <button class="btn btn-sm btn-link" routerLink="add">
          <span class="fa fa-plus-circle mr-2"></span>
          <span class="text">Add new</span>
        </button>
      </div>
      <input type="text" class="w-100 border border-left-0 border-right-0 border-bottom-0 px-2 py-1" placeholder="Search">
    </div>
    <div class="list-group list-group-flush w-100">
      <small class="text-muted text-center p-2 border-top">No Users</small>
      <a routerLink="U10001" class="list-group-item list-group-item-action">User 1</a>
      <a routerLink="U10002" class="list-group-item list-group-item-action">User 2</a>
      <a routerLink="U10003" class="list-group-item list-group-item-action">User 3</a>
      <a routerLink="U10004" class="list-group-item list-group-item-action">User 4</a>
      <a routerLink="U10005" class="list-group-item list-group-item-action">User 5</a>
    </div>
  </div>
  <div class="d-flex w-100 h-100">
    <router-outlet></router-outlet>
  </div>
</div>