.users-list{
    min-width: 300px;
    max-width: 300px;
    min-height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    .list-group{
        min-height: calc(100vh - 160px);
        max-height: calc(100vh - 160px);
        overflow-y: auto;
    }
}